%td.esd-stripe{:align => "center", "esd-custom-block-id" => "44757"}
  %table.es-content-body{:align => "center", :bgcolor => "#ffffff", :cellpadding => "0", :cellspacing => "0", :width => "600"}
    %tbody
      %tr
        %td.esd-structure.es-p20t.es-p20r.es-p20l{:align => "left", "esd-custom-block-id" => "44741", :style => "background-position: center top;"}
          %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
            %tbody
              %tr
                %td.esd-container-frame{:align => "center", :valign => "top", :width => "560"}
                  %table{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
                    %tbody
                      %tr
                        %td.esd-block-text{:align => "center"}
                          %h2{:style => "color: #659c35;"} You did not complete your order
                      %tr
                        %td.esd-block-text.es-p10t{:align => "center"}
                          %p Can we help you somehow?

