%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Sign Up
    %a.general-login-icon{href: "/customers/auth/facebook"}
      %i.fa.fa-facebook-official
    %p.general-login-text or
  %form.general-form{ :action => "/customers", :method => "post" }
    .control-label.input-label
      =render "devise/shared/error_messages"
    .form-group.mb-30
      %label.control-label.input-label{for: "email"} Enter Email
      %input#email.form-control{name:"customer[email]", type: "email", placeholder: "Enter Email"}
    .form-group.mb-30
      %label.control-label.input-label{for: "first_name"} Enter First Name
      %input#first_name.form-control{name:"customer[first_name]", type: "first_name", placeholder: "Enter First Name"}
    .form-group.mb-30
      %label.control-label.input-label{for: "last_name"} Enter Last Name
      %input#last_name.form-control{name:"customer[last_name]", type: "last_name", placeholder: "Enter Last name"}
    .form-group.mb-30
      -if @customer.password_required?
        %label.control-label.input-label{for: "password"} Password
        %input#password.form-control{name:"customer[password]", type: "password", placeholder: "Password"}
        %a.help-block.in-gold-500{href: "password/new"} Forgot password?
    .form-group.checkbox.text-center.mb-30
    .text-center
      %button.btn.btn-default.mb-20 Sign Up
  %p.general-sign-text.text-center
    Already have an Account?
    %a.in-gold-500{href: "sign_in"} Log In
