%header.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.pull-left{type: "button", 'data-toggle': "collapse", 'data-target': "#navbar"}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand Bookstore
      %a.shop-link.pull-right.visible-xs{href: "#"}
        %span.shop-icon
          %span.shop-quantity= @cart.count
    %a.shop-link.pull-right.hidden-xs{href: "/carts"}
      %span.shop-icon
        %span.shop-quantity= @cart.count
    #navbar.navbar-collapse.collapse.pl-30{'aria-expanded': "false"}
      .hidden-xs
        %ul.nav.navbar-nav
          %li
            %a{href: "/"} Home
          %li.dropdown
            %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} Shop
            %ul.dropdown-menu
              %li
                %a{href: "/books"} Catalog
          %li
            - if customer_signed_in?
              %li.dropdown
                %a.dropdown-toggle{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"} My Account
                %ul.dropdown-menu
                  %li
                    %a{href: "/settings"} Settings
                  %li
                    %a{href: "/orders"} Orders
                  %li.divider{role: "separator"}
                  %li
                    = link_to("Log out", destroy_customer_session_path, method: "delete")
            - else
              %a{href: "/customers/sign_in"} Log In
